.btn{
    &:link,
    &:visited {
        position: relative;
        transition: all 0.2s;

        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 20rem;
    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);

        &::after{
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white{
        background-color: $color-white;
        color: $color-dark-gray;

        &::after{
            background-color: $color-white;
        }
    }

    &::after{
        transition: all 0.4s;
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20rem;

        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }    

    &--animated{
        animation: moveIn-bottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}