.card{
    position: relative;
    height: 52rem;

    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side{
        transition: all .8s;
        position: absolute;
        height: 52rem;
        width: 100%;
        top: 0;
        left: 0;

        backface-visibility: hidden;

        &--front{
            background-color: white;
            transform: rotateY(0deg);
        }

        &--back{
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front{
        transform: rotateY(180deg);
    }
    &:hover &__side--back{
        transform: rotateY(360deg);
    }

    //STYLING
    &__picture{
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
        
        &--nat5{
            background-image: linear-gradient(to bottom right,$color-secondary-light,$color-secondary-dark), url('../img/nat-5.jpg');
        }

        &--nat6{
            background-image: linear-gradient(to bottom right,$color-primary-light,$color-primary-dark), url('../img/nat-6.jpg');
        }

        &--nat7{
            background-image: linear-gradient(to bottom right,$color-tertiary-light,$color-tertiary-dark), url('../img/nat-7.jpg');
        }
    }

    &__heading{
        font-size: 2.8rem;
        color: $color-white;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 3rem;
        width: 75%;
        
        &-span{
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
            &--nat5{
                background-image: linear-gradient(to bottom right,rgba($color-secondary-light,0.85),rgba($color-secondary-dark,0.85));
            }
            &--nat6{
                background-image: linear-gradient(to bottom right,rgba($color-primary-light,0.85),rgba($color-primary-dark,0.85));
            }
            &--nat7{
                background-image: linear-gradient(to bottom right,rgba($color-tertiary-light,0.85),rgba($color-tertiary-dark,0.85));
            }
        }
    }

    &__list{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-light-gray-2;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        color: $color-white;
        width: 90%;
        text-align: center;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 300;
        margin-bottom: 8rem;
    }
}