.u-center-text{text-align: center;}

.u-margin-bottom-small{margin-bottom: 1.5rem;}
.u-margin-bottom-normal{margin-bottom: 4rem;}
.u-margin-bottom-big{margin-bottom: 8rem;}
.u-margin-bottom-huge{margin-bottom: 10rem;}

.u-margin-top-huge{margin-top: 10rem;}

.u-background-gradient-primary-bottom-right{
    background-image: linear-gradient(to bottom right,$color-primary-light,$color-primary-dark);
}

.u-background-gradient-secondary-bottom-right{
    background-image: linear-gradient(to bottom right,$color-secondary-light,$color-secondary-dark);
}

.u-background-gradient-tertiary-bottom-right{
    background-image: linear-gradient(to bottom right,$color-tertiary-light,$color-tertiary-dark);
}